<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Authenticating...</title>
    <script type="text/javascript">
      parent.postMessage(<%= @message %>, window.location);
    </script>
  </head>
  <body>
    Please wait while you are redirected...
  </body>
</html>
